    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        text-align: center;
    }
    header {
        background-color: #333;
        color: white;
        padding: 1em 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .iframe_container {
        -webkit-overflow-scrolling: touch;
  	    overflow-y: scroll;
    }

    .iframe {
        display: block;
        width: 100%;
        min-height: 3000px;
        border: none;
        overflow: hidden;
    }