    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        text-align: center;
    }
    header {
        background-color: #333;
        color: white;
        padding: 1em 0;
    }
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .iframe_container {
        -webkit-overflow-scrolling: touch;
  	    overflow-y: scroll;
    }

    .iframe {
        display: block;
        width: 100%;
        min-height: 1000px;
        border: none;
        overflow: hidden;
    }